*{
	margin:10;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-color: #fff;

}
.active{
	color: #a61c2a !important
}
.nav-custom{
	padding: 30px 0px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.custom-nav-item li a{
	font-size: 1rem;
    line-height: 1.6;
    font-weight: 700;
     text-decoration: none;
    font-family: sans-serif;
    color: #000;
    transition: all 0.2s case-in !important;
    padding: 10px;
}
.custom-nav-item li a:hover{
	color: #dc3545;
    text-decoration: none;
}
.navbar-brand{
    font-family: sans-serif;
}
.fa-regular{
    font-weight: 400;
}
.main{
 padding: 3rem;

}
.footer{
	background:#050327;
	padding: 2rem 3.5rem;
}
.logo{
	color: #d5d5d5;
	font-size: 2.8rem;
	text-align: center;
    font-family: sans-serif;

}
.social-media{
	text-align: center;
    margin-top: 12px;
}
.social-media a{
	text-decoration: none;
    color: #d5d5d5;
    font-size: 1.2rem;
    padding: 0px 6px;
    border: 1px solid #8c94b8;
    border-radius: 5px;
    margin: 0px 2px;
}
.social-media a:hover{
	color: #8c94b8
}
.footer-container{
	display: flex;
	flex-wrap: wrap;
}
.footer-wrapper{
	display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    padding: 0.8rem;
    justify-content: flex-start;
}
.footer-wrapper  h4{
	color: #d5d5d5;
	line-height: 4
}
.footer-wrapper p{
	color: #8c94b8;
	margin-bottom: 20px;
}
.footer-wrapper  a{
	text-decoration: none;
    color: #8c94b8;
    line-height: 2;
}
.footer-wrapper a:hover{
	color: #d5d5d5;
}
.divider{
	border:1px solid #ecedf1;
	margin:0.5rem 0rem;
}
.webright{
	display: flex;
	 flex-wrap: wrap; 
	justify-content: space-between;
}
.webright-left{
	color: #d5d5d5;
	font-size: 0.8rem;
}
.webright-right a{
	text-decoration: none;
	color: #d5d5d5;
	font-size: 0.8rem;
	padding-right: 10px;
}
.subscribe-wrapper h1{
	font-size: 3.2rem;
    font-family: sans-serif;
    color: #192733;
    font-weight: 700;
    line-height: 1.2;
    flex-direction: column;
}
.input-area{
	display: flex;
	flex:1;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	height: 4rem;
	border-radius: 6px;

}
.input-area input{
    width: 60%;
    border: none;
    padding: 10px;
}
.input-area button{
    height: 45px;
   width: 27%;
   margin: 10px;
   border: none;
   background: #dc3545;
   color: #fff;
   border-radius: 4px;
}
.mail-icon{
	width: 10%;
	margin:0 auto;
    padding: 20px 10px 10px 10px;
}
.text-align-center{
	text-align: center;
   }
   .text-align-right{
	text-align: right;
   }